<h3>Hello!</h3>

<% profilePicClass = locals.large ? 'profile-pic-large' : '' %> <% picGridClass
= locals.large ? 'pic-grid-large' : '' %>
<div class="pic-grid <%= picGridClass %>">
  <% users.forEach(user => { %>
  <a href="/helpSeeker/<%= user.id %>">
    <img
      class="profile-pic <%= profilePicClass %>"
      src="<%= user.profilePicPath %>"
    />
  </a>
  <h2><%= user.name.first %></h2>
  <% }) %>
</div>
